<nav>
  <a href="/">Home</a>
  <a href="/signup">SignUp</a>
  <a href="/login" id="current">Login</a>
</nav>
<h2>Login</h2>
<% if flash[:message] %>
      <%= flash[:message] %>
  <% end %>
<form action="/login" method="post">
  <input type="text" name="username" id="username" placeholder="Enter Username"><br>
  <input type="password" name="password" id="password" placeholder="Enter Password"><br>
  <button type="submit">Login</button>
</form>
