<nav>
  <a href="/">Home</a>
  <a href="/signup" id="current">SignUp</a>
  <a href="/login">Login</a>
</nav>
<h2>SignUp</h2>

<form action="/signup" method="post">
  <input type="text" name="username" id="username" placeholder="Enter Username"><br>
  <input type="password" name="password" id="password" placeholder="Enter Password"><br>
  <button type="submit">SignUp</button>
</form>
