<!DOCTYPE html>
<html lang="en">

<head>
  <title>Film Tracker Project</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <div class="container">
    <% if logged_in? %>
        <div id="logged_in">
          Welcome, <%= current_user.username %> <br>
          <a href="/logout">Logout</a>
        </div>
    <% end %>
    <h1>Films Watched</h1>
    <%= yield %>
  </div>
</body>

</html>
